<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
</head>
<body>
<%- include src/components/header/header.ejs %>
<div class="main">
    <%- include src/components/slider/slider.ejs %>
    <%- include src/components/about/about.ejs %>
    <%- include src/components/contacts/contacts.ejs %>
</div>
<%- include src/components/footer/footer.ejs %>

<script src="app.js"></script>
</body>
</html>