<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!--added cdn jquery to have possibility to use pagination library-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="content">
    <%- include src/components/header/header.ejs %>
    <div class="main">
        <%- include src/components/slider/slider.ejs %>
        <%- include src/components/preview/preview.ejs %>
        <%- include src/components/select/select.ejs %>
        <%- include src/components/lots/lots.ejs %>
        <%- include src/components/lot/lot.ejs %>
        <%- include src/components/about/about.ejs %>
        <%- include src/components/contacts/contacts.ejs %>
    </div>
    <%- include src/components/footer/footer.ejs %>
</div>
<script src="app.js"></script>
</body>
</html>