<div class="select">
    <select class="select__filter">
        <option <%= type === '' ? "selected" : ""%> value="">All</option>
        <option <%= type === 'picture' ? "selected" : ""%> value="picture">Picture</option>
        <option <%= type === 'statue' ? "selected" : ""%> value="statue">Statue</option>
        <option <%= type === 'coin' ? "selected" : ""%> value="coin">Coin</option>
    </select>
    <select class="select__sorter">
        <option <%= sort === '' ? "selected" : ""%> value="">Default</option>
        <option <%= sort === 'ascending' ? "selected" : ""%> value="ascending">Ascending</option>
        <option <%= sort === 'descending' ? "selected" : ""%> value="descending">Descending</option>
    </select>
</div>